<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

  <ion-item>
    <ion-input type="email" placeholder="Email" #email></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Password" #password></ion-input>
  </ion-item>
  <br>
  <ion-grid>
    <ion-row >
      <ion-col style="text-align: center;">
        <ion-button>Log In</ion-button>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
</ion-content>
