

<ion-content>
  <ion-grid>
    <ion-row align-items-center >
      <ion-col size-xl = "6" size-sm = "12" size-xs = "12" >
    <ion-row >
      <ion-col  class="ion-align-self-center">
        <ion-img [src] = "'../../assets/logo.jpeg'" style="height: 400px;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size-xl = "6" size-sm ="12" size-xs = "12">
    <ion-row class="ion-align-items-center">
      <ion-col class="social-button ion-text-center" style="transform: translateY(17px)">

          <a>
        <div class="facebook-button">
            <ion-img src="assets\facebook.svg" alt="" class="social-icon-facebook"></ion-img> <span class="button-text-facebook" (click) ="facebookLogin()">CONTINUE WITH FACEBOOK</span>
        </div>
        </a>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-align-items-center">
      <ion-col class="social-button ion-text-center">
        <a>
          <div class="google-button">
              <img src="assets\google.svg" alt="" class="social-icon-google"> <span class="button-text-google" (click) ="signinWithGoogle()">CONTINUE WITH GOOGLE</span>
            </div>
          </a>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-align-items-center">
      <ion-col class="social-button ion-text-center">
        <a [routerLink]="['/email']" routerLinkActive="router-link-active" >
          <div class="email-button">
             <img src="assets\message.svg" alt="" class="social-icon-email"> <span class="button-text-email">CONTINUE WITH EMAIL</span>
          </div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col>
      <p style="color: #F95D65;">Terms And Conditions</p>
    </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col>
        <p style="size: 15px;">By Continuing you indicate that you have read and agree to Shabaash Bahadur Terms of Service and Privacy Policy.
        </p>
      </ion-col>
    </ion-row>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
